*
/*

!.gitignore

!/userFiles
/userFiles/*
!/userFiles/ctrl
/userFiles/ctrl/*
!/userFiles/ctrl/groups_ctrl
/userFiles/ctrl/groups_ctrl/*
!/userFiles/ctrl/groups_ctrl/gr4
/userFiles/ctrl/groups_ctrl/gr4/*
!/userFiles/ctrl/groups_ctrl/gr4/regulation
!./userFiles/ctrl/groups_ctrl/gr4/config
!./userFiles/ctrl/groups_ctrl/gr4/localization
!./userFiles/ctrl/groups_ctrl/gr4/main
!./userFiles/ctrl/groups_ctrl/gr4/path
!./userFiles/ctrl/groups_ctrl/gr4/strategy
!./userFiles/ctrl/groups_ctrl/gr4/useful

!/userFiles/ctrl/groups_ctrl/gr4/regulation/*
!./userFiles/ctrl/groups_ctrl/gr4/config/*
!./userFiles/ctrl/groups_ctrl/gr4/localization/*
!./userFiles/ctrl/groups_ctrl/gr4/main/*
!./userFiles/ctrl/groups_ctrl/gr4/path/*
!./userFiles/ctrl/groups_ctrl/gr4/strategy/*
!./userFiles/ctrl/groups_ctrl/gr4/useful/*
